html, body {
    width: 100%;
    height: 100%;
    display: flex;
    font-family: 'Roboto Slab', serif;
}

body{
    display: flex;
    flex-direction: column;
}

/* ============================= Controle ============================= */
/* ================================ QOL =============================== */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    display: block;
    color: #000;
    text-decoration: none;  
}

select{
    display: block;
    color: #000;
    text-decoration: none; 
    font-family: 'Roboto Slab', serif; 
}

textarea, input{
    font-family: 'Roboto Slab', serif;
}

p{
    font-family: 'PT Sans Narrow', sans-serif;
}

.bold{
    font-weight: bold;
}

/* ============================== Header ============================== */

header{
    height: 7%;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: .05rem solid gray;
}

    /* ----------------------- Controle ----------------------- */
    /* ------------------------ Perfil ------------------------ */
    .menu{
        height: 100%;
        width: 13%;
        text-align: center;
        
    }
    .menuImage{
        height: 2.5rem;
        width: 2.5rem;
        margin-top: 0.3rem;
    }


    /* ------------------------ Search ------------------------ */
    .search{
        height: 100%;
        width: 61%;
        text-align: center;
    }

    .barraPesquisa{
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        height: 55%;
        width: 90%;
        font-size: 1rem;

    }

    /* ------------------------ Return ----------------------- */
    .returnSign{
        height: 1.5rem;
        width: 1.5rem;
        margin-top: .79rem;
    }
    /* ------------------------- Msg ------------------------- */
    .msgNot{
        height: 100%;
        width: 26%;
        display: flex;
    }

    .msgPage{
        height: 100%;
        width: 40%;
        margin-left: 26%;
        display: flex;
    }

    .mensagem{
        height: 100%;
        width: 50%;
        text-align: center;
    }

    .notificacao{
        height: 100%;
        width: 50%;
        text-align: center;
    }

    /* ------------------------ Logo ------------------------ */
    .logoHeader{
        height: 100%;
        margin-left:9rem;
    }

/* =============================== Main =============================== */
main{
    height: 86%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}   

.alinhamento{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}
    /* ------------------------- Home ------------------------- */
    .homeProfile{
        width: 95%;
        height: 5rem;
        margin-top:1rem;
        display: flex;
        align-items: center;
    }

    .homeProfilePhoto{
        width: 20%;
        height: 90%;
    }

    .homeProfilePhotoSize{
        width: 4.3rem;
        height: 4.3rem;
        margin-left: 0.3rem;
    }

    .homeProfileText{
        width: 70%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: space-around;
        margin-left: 0.5rem;
    }
    .homeProfileName, .homeProfileTime{
        line-height: 1.7rem;
    }

    .homeProfileTime{
        font-size: 0.7rem;
        color: gray;
    }

    .homeDescription{
        width: 90%;
        margin-top:1rem;
    }
    .homePhotos{
        width: 95%;
        margin-top:0.5rem;
        text-align: center;
    }
    .homeImageHolderSize{
        width: 22rem;
        height: 14rem;
    }
        
    .homeButtons{
        width: 95%;
        height: 3rem;
        margin-top:1rem;
        margin-bottom: 1rem;
        display: flex;
        justify-content: space-around;
    }

    .homeButtonsDoar{
        height: 2.5rem;
        width: 43%;
        border-radius: 0.5rem;
        text-align: center;
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 2.5rem;
        background-color: rgb(0, 199, 9);
        color: white;
    }

    .homeButtonsAjudar{
        height: 2.5rem;
        width: 43%;
        border-radius: 0.5rem;
        text-align: center;
        font-weight: bold;
        line-height: 2.5rem;
        border: solid 0.05rem rgb(0, 199, 9);
        color: rgb(0, 199, 9);
    }

    /* ------------------------- Msgs ------------------------- */
    /* ------------------------ Postar ------------------------ */
    .selectGroup{
        width: 100%;
        height: 3rem;
        margin-top: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .selectGroupSize{
        width: 90%;
        height: 70%;
        text-align: center;
    }

    .postarTitulo{
        height: 1.5rem;
        width: 89%;
        margin-top: 2rem;
        font-size: 1rem;
    }
    .postarDescription{
        height: 7rem;
        width: 89%;
        margin-top: 2rem;
        font-size: 1rem;
    }

    .postarUpload{
        height: 2rem;
        width: 60%;
        margin-top: 2rem;
        border-radius: 0.5rem;
        text-align: center;
        font-weight: bold;
        line-height: 2rem;
        border: solid 0.05rem rgb(0, 199, 9);
        color: rgb(0, 199, 9);
    }

    .postarCheck{
        height: 2rem;
        width: 60%;
        margin-top: 2rem;
    }

    .postarPost{
        height: 3rem;
        width: 75%;
        margin-top: 3rem;
        border-radius: 0.5rem;
        text-align: center;
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 3rem;
        background-color: rgb(0, 199, 9);
        color: white;
    }
    
    /* ----------------------- ONGS ------------------------ */
    .filtros {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        
    }

    #reg {
        margin: 1rem;
        align-items: center;
        justify-content: center;
    }

    #atu {
        margin: 1rem;
        align-items: center;
        justify-content: center;
    }

    #tam {
        margin: 1rem;
        align-items: center;
        justify-content: center;
    }

    .ongBox{
        width: 90%;
        height: 9rem;
        margin:0.5rem;
        padding:0.5rem;
        border: solid 0.05rem gray;
        display: flex;
        align-items: center;
    }

    .ongProfileImage{
        width: 30%;
        height: 100%;
    }

    .ongPhoto{
        width: 7.5rem;
        height: 7.5rem;
    }

    .ongProfile{
        width: 70%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .ongCaracteristics{
        line-height: 2.4rem;
        width: 90%;
        height: 31%;
    }

/* ============================== Footer ============================== */
footer{
    height: 7%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-top: .05rem solid gray;
}

    /* ----------------------- Controle ----------------------- */
    /* ----------------------- Buttons ------------------------ */
    .navButtons{
        text-align: center;
        height: 100%;
        width: 20%;
    }

    .active{
        border-top: .5rem solid rgb(0, 199, 9);
    }

    .nonActive{
        padding: 0.3rem;
    }

    .navImage{
        height: 2.4rem;
        width: 2.4rem;
    }